body{
  margin-left:25px;
  margin-right:25px;
  position:relative;
}
a{
  color:#009bff !important;
}
.glyphicon:hover{
  opacity:0.5;
  cursor:pointer;
}
.list-group-item{
  overflow:auto;
}
.tab-icons{
  display:none;
}
.active-tab{
  background-color:rgba(0,0,0,0.1);
}
#collaborators-div{
  margin:15px;
  padding:10px;
}
.collaborator-img{
  border-radius:1000px;
}
.favicon-img{
  height:25px;
}
.subnav{
  list-style:none;
  margin-left:-20px;
}
.golink-icon{
  height:20px;
  width:20px;
  border-radius:10000px;
}
#edit-btn{
  background-color:#4485F3;
  color:white;
  border:none;
}
#save-btn{
  background-color:#DD4B39;
  color:white;
  border:none;
}
#id-textarea{
  min-height:250px;
}
.jumbotron{

  text-align:center;
  background-color:#4485F4;
  /*background-color:#4285f4;*/
  color:white;
}
.jumbotron-gray{
  background-color:rgba(200,200,200,0.1);
  margin-right:25%;
  margin-left:25%;
  color:black;
}
.tinput{
  min-height:350px !important;
}
.profile-img{
  border-radius:10000px;
  height:25px;
}

.centered{
  text-align:center;
}
.tweet{
  background-color:white;
  border:1px solid rgba(0,0,0,0.1);
  padding:5px;
  margin:5px;
  width:100%;
  border-radius:3px;
}
#compose-tweet-btn{
  background-color:#DD4B39;
  color:white;
  border:none;
}


.affix{
    margin-right:25px;
    width: 213px;
  }
  /*
.nav a{
  padding:0px !important;
  margin:0px;
}
.nav a:hover{
  background-color:white;
}

.nav .nav {
  margin-left:25px;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: light;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

#nav{
  list-style:none;
  height:500px;
  overflow:auto;
}
.subnav{
  /*display:none;*/
  font-size:10px;
}
*/
.description{
  opacity:0.75;
  margin-left:25px;
  padding-left:5px;
}


#go-text{
  height:500px;
}
#textarea-affix>textarea{
  width:100%;
}
.image-tn{
  opacity:0.5;
  height:150px;
}
.image-tn:hover{
  opacity:1.0;
}
.golink-div{
  /*height:175px;*/
  background-color:rgba(175,175,175,0.1);
  padding:5px;
  /*border:3px solid rgba(0,0,0,0.1);*/
  margin:5px;
  float:left;
  width:225px;
  height:200px;
  overflow:auto;
}
.blogpost-div{
  background-color:rgba(175,175,250,0.1);
  max-width:500px;
  max-height:300px;
  overflow:hidden;
  padding:5px;
  margin:5px;
  float:left;
}
.golink-meta{
  display:block;
  clear:both;
  margin-bottom:5px;
}
.glyphicon-remove{
  float:right;
}
.glyphicon-remove:hover{
  color:red;
  cursor:pointer;
}
.glyphicon-cog:hover{
  color:blue;
  cursor:pointer;
}
#search-input{
  border:none;
  width:30%;
  margin-left:35%;
  border-radius:0px;
}
.email-label{
  opacity:0.5;
}
.thumbnail-img{
  height:100px;
}
#modal-img{
  width:100%;
}
.insight-link{
  color:black !important;
}
